body {
    font-family: 'Poppins', sans-serif !important;
    min-height: 100vh;
    position: relative;
    background: radial-gradient(44% 44% at 42.4% 56%, #58595E 0%, #2C2D36 100%);
    padding-bottom: 40px;
}

div {
    color: white;
}
.col .form-control{
    background-color: #2C2D36 !important;
}
.upload-file{
    width: 150px;
    position: relative;
}
.upload-file input{
    width: 100%;
    height: 20vh;
    opacity: 0;
    position: absolute;
}

.apexcharts-text,
.apexcharts-xaxis-label {
    display: none;
    color: white !important;
}
.vgt-wrap.nocturnal .vgt-global-search{
    background: #51525C !important;
    border: 1px solid 51525C !important;
}
.vgt-table.nocturnal {
    background-color: #51525C !important;
}

.vgt-table.nocturnal th.vgt-checkbox-col {
    background: #51525C !important;
}

.vgt-table.nocturnal thead th {
    background: #51525C !important;
}

.vgt-responsive {
    background: #51525C !important;
}

.upload-file img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}
p span {
    color: red !important;
}

input,textarea {
    background-color: #334155 !important;
    border: 1px solid #334155 !important; 
    color: white !important;
}

a {
    color: white;
    text-decoration: none;
}

.form-check-input[type=radio]{
    background-color: transparent;
    border-color: gray;
}

.form-dark input {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
    outline: none !important;
    border-radius: 0px;
    border-bottom: 2px solid white !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.jumbotron {
    background-position: right;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.jumbotron img {
    margin-left: 12%;
}
.level-step .line{
    width: 70px;
    height: 3px;
    background-color: rgb(192, 192, 192);
}
.content {
    padding-left: 8%;
    padding-right: 8%;
}

h1 {
    color: white;
}

h1 span {
    font-weight: 200;
    color: white;
}

p {
    font-weight: 200;
    color: white;
}

.icon-jumbotron {
    bottom: 5%;
    left: 50%;
    right: 50%;
    position: absolute;
}

section {
    background: radial-gradient(44% 44% at 42.4% 56%, #58595E 0%, #2C2D36 100%);
    padding-top: 80px;
    padding-bottom: 80px;
}

.light {
    font-weight: 100;
}

section.dark {
    background: black;
    color: white;
}

.news-card {
    width: 250px;
    height: fit-content;
}
.sidebar{
    width: 60vw;
    height: 100vh;
    padding: 12px;
    padding-top: 50px;
    overflow-y: hidden;
    position: fixed;
    right: 0;
    z-index: 10;
    background: linear-gradient(147.2deg, #58595E -11.95%, #2C2D36 80.41%);
    margin-right: -500px;
}
.card-member{
    background-image: url("/img/bg-card.png");
    width: 100%;
    background-size: cover;
    background-position: 1px;
    background-repeat: no-repeat;
    height: 230px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.logo-main{
    width: 60%;
}
.card{
    background-color: #51525C;
}
.card-member p{
    font-size: 12px;
}
.card-member div{
    font-size: 20px;
}
.avatar{
    width: 25vw;
    height: 25vw;
    background-color: lightgray;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media only screen and (min-width: 900px) {
    .text-jumbotron {
        width: 32%;
    }
    .logo-main{
        width:30%;
    }
    .sidebar{
        left: 0;
        margin-right: 0px;
    }
    .content-member {
            margin-left: 22%;
            margin-right: 3%;
        }
    .avatar{
        width: 12vw;
        height: 12vw;
    }
    .sidebar{
        width: 20vw;
    }
    .card-member{
        margin-top: 30px !important;
        width: 100%;
    }
    .content {
        padding-left: 15%;
        padding-right: 15%;
    }

    li.nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 900px) {
.sidebar{
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.sidebar.open{
    margin-right: 0px;
}
.navbar .container{
    max-width: 100%;
}
.navbar-brand img{
    width: 250px !important;
}
}